@using SoundFingerprinting.DAO.Data;

@{
    ViewData["Title"] = "Home Page";
}

@section Head {
    <link rel="stylesheet" href="/css/stickyaudioplayer.css">  
}

<div class="table-responsive-xl">  
<table id="data" class="table table-sm">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">File</th>
            <th scope="col">Seconds</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>

@foreach (TrackData track in ViewBag.Tracks) {
        <tr>
            <th scope="row">
                <i class="far fa-play-circle"></i>
                <audio src="/api/streaming/@track.TrackReference.Id" title="@track.Title"></audio>
            </th>            
            <td><small>@track.Title</small></td>
            <td><small>@track.Length.ToString("N")</small></td>
            <td>
                <div class="dropdown">
                <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" asp-controller="Home" asp-action="FindSimilar" asp-route-id="@track.TrackReference.Id">Find Similar</a>                    
                    <a class="dropdown-item" asp-controller="Home" asp-action="OpenDirectory" asp-route-id="@track.TrackReference.Id">Open Directory</a>                    
                </div>
                </div>                
            </td>
        </tr>
}
    </tbody>
</table>
</div>

<div id="editForm">
    <form>
        <div class="form-inline mb-2">
            <input type="text" class="form-control mr-2" id="editRowText" placeholder="To edit...">
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
        </div>
    </form>
</div>

<input type="button" id="goto_first" class="btn btn-primary btn-sm" value="first">
<input type="button" id="goto_prev" class="btn btn-primary btn-sm" value="prev">
<input type="button" id="goto_next" class="btn btn-primary btn-sm" value="next">
<input type="button" id="goto_last" class="btn btn-primary btn-sm" value="last">


@section Scripts { 
    @* 
    Javascripts section
    *@

<script src="/js/stickyaudioplayer.js"></script>
<script type="text/javascript">

// hide edit area
$('#editForm').hide();
var editing = false;

// variable that holds all table rows
var tableRows = $('#data tbody tr');

// variable that holds the window object
var w = $(window);

var stickyAudioPlayer; // declare it outside to use methods after
$(document).ready(function()
{
    stickyAudioPlayer = $('body').stickyAudioPlayer(
    {
        url:       '',
        position:  'bottom', //'bottom'|'top'|'inline'
        text:      'No Sounds Loaded',
        image:     '',
        volume:    40,
        repeat:    false,
    }
    );
});

function highlightRow(tableRowIndex) 
{
    // if .table-active has reached the last, start again
    if (tableRowIndex < 0  || (tableRowIndex + 1) > tableRows.length )
        tableRowIndex = 0;    
    
    // check if element exists
    var selectedTableRow = $('#data tbody tr:eq('+tableRowIndex+')');
    if(selectedTableRow.length > 0)
    {
        // remove other highlights from all table rows
        tableRows.removeClass('table-active');
        
        // highlight your target
        selectedTableRow.addClass('table-active');

        // and make sure to scroll the row into view
        w.scrollTop( selectedTableRow.offset().top - (w.height()/2) );
        
        // and play audio
        playRow(tableRowIndex);
    }
}

function playRow(tableRowIndex) 
{
    // check if element exists
    var selectedTableRow = $('#data tbody tr:eq('+tableRowIndex+')');
    if(selectedTableRow.length > 0)
    {
        // first ensure all audio stops playing
        $('audio').each(function() 
        {
            // var audioPlayer = $(this)[0];
            // audioPlayer.pause();
            // audioPlayer.currentTime = 0;

            // find audio icon and set it to not playing
            var audioPlayerIcon = $(this).siblings('i');
            SetAudioPlayerIcon(audioPlayerIcon, false);
        });

        // get the correct audio player
        var audioObject = selectedTableRow.find('audio');
        var audioPlayer = audioObject[0];

        // get the correct audio player icons
        var audioPlayerIcon = selectedTableRow.find('i');

        // and play
        if (audioPlayer.paused) {
            // audioPlayer.play();
            SetAudioPlayerIcon(audioPlayerIcon, true);

            // and add to sticky audio player as well            
            stickyAudioPlayer.stop();
            stickyAudioPlayer.changeAudio(audioPlayer.src, audioPlayer.title);
            stickyAudioPlayer.play();

            // add event listener for the ended event
            stickyAudioPlayer.audioElement.on('ended', function() {
                SetAudioPlayerIcon(audioPlayerIcon, false);
            });
        }
        else {
            // audioPlayer.pause();
            // audioPlayer.currentTime = 0;
            // SetAudioPlayerIcon(audioPlayerIcon, false);
        }

        // add event listener for the ended event
        // selectedTableRow.find('audio').on('ended', function() {
            // SetAudioPlayerIcon(audioPlayerIcon, false);
        // });
    }
}

function SetAudioPlayerIcon(audioPlayerIcon, isPlaying) {
    if (isPlaying) {
            audioPlayerIcon.removeClass('fa-play-circle');
            audioPlayerIcon.addClass('fa-pause-circle');
            audioPlayerIcon.css("color", "red");
    } else {
            audioPlayerIcon.removeClass('fa-pause-circle');
            audioPlayerIcon.addClass('fa-play-circle');
            audioPlayerIcon.css("color", "black");
    }
}

$('#goto_first').click(function() {
    highlightRow(0);
});

$('#goto_prev').click(function() {
    highlightRow($('#data tbody tr.table-active').index() - 1);
});

$('#goto_next').click(function() {
    highlightRow($('#data tbody tr.table-active').index() + 1);
});

$('#goto_last').click(function() {
    highlightRow($('#data tbody tr:last').index());
});


// Show edit form
function displayEditForm() {
    editing = true;
    $('#editForm').show();

    // find currently selected row index
    var tableRowIndex = $('#data tbody tr.table-active').index();
   
    // check if element exists
    var selectedTableRow = $('#data tbody tr:eq('+tableRowIndex+')');
    if(selectedTableRow.length > 0)
    {    
        // ensure the target is highlightRowed
        selectedTableRow.addClass('table-active');

        $('#editForm #editRowText').val(tableRowIndex);
        $('#editForm #editRowText').select();
    }
}

// user saves edits
$('#editForm form').submit(function (e) {
    editing = false;
    e.preventDefault();

    // Ajax to update value in database
    $.get('#', '', function () {
        $('#editForm').hide();
        alert('Saving ' + $('#editForm #editRowText').val());
    });    
});

// user can cancel edit by pressing escape
$('#editForm').keydown(function (e) {
    if (editing && e.which == 27) {
        editing = false;
        $('#editForm').hide();
    }
});

// handle key presses
$(document).keydown(function (e) {
    
    if (!editing) {        
        switch(e.which) 
        {        
            case 38:
                // up arrow
                e.preventDefault();
                $('#goto_prev').trigger('click');
                break;
            case 40:
                // down Arrow
                e.preventDefault();
                $('#goto_next').trigger('click');
                break;
            // case 13:
                // enter
            // case 32:
                // spacebar
            case 113:
                // F2
                e.preventDefault();
                displayEditForm();
                break;
        }
    }
 });

// attach an onclick event handler to the table rows 
tableRows.click( function(e) {
    if ( !$( e.target ).is( ":button" ) ) {
        editing = false;
        $('#editForm').hide();
        highlightRow(($(this).index()));
    }
});

</script>
}